/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #02083d;
}

html{
    scroll-behavior: smooth;
}

p{
    color: #faf5f5;
}


/* Transition */

a, .btn{
   transition: all 300ms ease; 
}


/* Desktop nav */

nav, .nav-links{
display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    font-size: 1.5rem; 
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    text-decoration-color: #fff;
}

a:hover{
    color: #0c9fe8;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    font-size: 1.9rem;
    cursor: default;
    color: #fff;
}

/* Hamburguer Menu */

#hamburguer-nav{
    display: none;
}

.hamburguer-menu{
    position: relative;
    display: inline-block;
}

.hamburguer-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburguer-icon span{
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding:  10px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
    background-color: #02083d;
}

.hamburguer-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburguer-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburguer-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburguer-icon span:first-child{
    transform: none;
}
.hamburguer-icon span:first-child{
    opacity: 1;
}
.hamburguer-icon span:first-child{
    transform: none;
}

/* Sections */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* Profile Section */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container{
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto 0;
}

.section_pic-container img{
    border: 1px solid transparent;
    border-radius: 50%;
}

.section_text{
    align-self: center;
    text-align: center;
}

.section_text p{
    font-weight: 600;
}

.section_text-p1{
    text-align: center;
    font-size: 1rem;
}

.section_text-p2{
    color: #e9e3e3;
    font-size: 1.75rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    color: #0c9fe8;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #0c9fe8;
}

.btn-color-2{
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: transparent;
    border: 1px solid #0c9fe8;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.btn-color-3{
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #0c9fe8;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-color-2:hover{
    background-color: #0c9fe8;
    transition: all 0.5s ease;
}
.btn-color-3:hover{ 
    background-color: #0376af;
    transition: all 0.5s ease;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
}
.socials-icon{
    display: flex;
    list-style: none;
}

.socials-icon i{
    color: #fff;
    font-size: 1.7rem;
    margin: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.socials-icon i:hover{
    opacity: 1;
}


/* About section */

#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
}

.details-container{
     padding: 1.5rem;
     flex: 1;
     background: #02083d;
     border-radius: 2rem;
     border: rgb(53, 53, 53) 0.1rem solid;
     border-color: rgb(163, 163, 163);
     text-align: center;
}

.details-container i{
    font-size: 2rem;
    color: #0376af;
}

.details-container h3{
    color: #fff;
    margin-top: 1rem;
}

.details-container p{
    color: #e0e0e0;
    margin-top: 0.5rem;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

/* Section Skills */

#skills{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience-sub-title{
    color: #e0e0e0;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    width: 10rem;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

/* ICONS SKILLS */

.article-container i{
    color: #fff;
    font-size: 5rem;
    justify-content: center;
}

.article-container #img-icons{
    width: 5rem;
    height: 5rem;
}

.article-container #html{
    color: #dd4b25;
}

.article-container #m-ui{
    width: 5rem;
    height: 5rem;
}

.article-container #git{
    color: #e94e31;
}

.article-container #node{
    color: #7cb73f;
}

.article-container #css{
    color: #2862e9;
}

.article-container #sass{
    color: #c76494;
}

.article-container #javascript{
    color: #ffe53e;
}

.article-container #react{
    color: #5ed3f3;
}

/* SECTION PROJECT */

#project{
    position: relative;
}

.color-container{
     border-color: rgb(163, 163, 163);
} 

.project-img{
    border-radius: 2rem; 
    width: 90%;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: #fff;
    font-size: 2rem;
}

/* SECTION CONTACT */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-info-container i{
    color: #fff;
    font-size: 1.5rem;
}

.contact-info-container .info-mail{
    color: #fff;
    opacity: 0.5;
    text-decoration-color: transparent;
}

.contact-info-container .info-mail:hover{
    opacity: 1;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

footer p span{
    color: #0c9fe8;
}